<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zombi.com.ireiscour">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoireis"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vue.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vue.MainActivity" />
        <activity android:name=".Vue.Intranet" />
        <activity android:name=".Vue.Choix" />
        <activity
            android:name=".Vue.News_Intranet"
            android:label="@string/title_activity_news__intranet"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>